<div class="section_5">
    <div class="py-8 md:py-10 lg:py-14 xl:py-20 container">
        <div class="mx-auto">
            <div class="text relative anim-line element-animation pb-0.5">
                <h3 class="mb-6 md:mb-8 xl:mb-16 text-start font-bold text-2xl sm:text-3xl lg:text-4xl xl:text-5xl">Схема работы</h3>
                <div class="head-line absolute left-0 top-10 md:top-12 xl:top-16 w-full h-px bg-lightgray rounded-md"></div>
            </div>
            <div class="flex flex-wrap justify-center 3xl:justify-between gap-y-4 lg:gap-y-6 gap-x-4 xxs:gap-x-6 xs:gap-x-8 sm:gap-x-[0.65rem] md:gap-x-[1.25rem] lg:gap-x-8 xl:gap-x-10 2xl:gap-x-6 3xl:gap-4">
                <div class="p-3 md:p-4 border border-gray rounded-md shadow-advantages w-[9.3rem] xxs:w-42 xs:w-52 sm:w-36 md:w-42 lg:w-56 xl:w-68 3xl:w-52 h-32 xxs:h-36 md:h-40 lg:h-44 xl:h-40 3xl:h-48">
                    <p class="text-3xl lg:text-4xl xl:text-5xl text-lightgreen font-bold">1</p>
                    <p class="text-sm xxs:text-base sm:text-sm md:text-base lg:text-lg xl:text-xl pt-3 md:pt-4">Заявка на консультацию или замер</p>
                </div>
                <div class="p-3 md:p-4 border border-gray rounded-md shadow-advantages w-[9.3rem] xxs:w-42 xs:w-52 sm:w-36 md:w-42 lg:w-56 xl:w-68 3xl:w-52 h-32 xxs:h-36 md:h-40 lg:h-44 xl:h-40 3xl:h-48">
                    <p class="text-3xl lg:text-4xl xl:text-5xl text-lightgreen font-bold">2</p>
                    <p class="text-sm xxs:text-base sm:text-sm md:text-base lg:text-lg xl:text-xl pt-3 md:pt-4">Замер</p>
                </div>
                <div class="p-3 md:p-4 border border-gray rounded-md shadow-advantages w-[9.3rem] xxs:w-42 xs:w-52 sm:w-36 md:w-42 lg:w-56 xl:w-68 3xl:w-52 h-32 xxs:h-36 md:h-40 lg:h-44 xl:h-40 3xl:h-48">
                    <p class="text-3xl lg:text-4xl xl:text-5xl text-lightgreen font-bold">3</p>
                    <p class="text-sm xxs:text-base sm:text-sm md:text-base lg:text-lg xl:text-xl pt-3 md:pt-4">Предварительный расчет</p>
                </div>
                <div class="p-3 md:p-4 border border-gray rounded-md shadow-advantages w-[9.3rem] xxs:w-42 xs:w-52 sm:w-36 md:w-42 lg:w-56 xl:w-68 3xl:w-52 h-32 xxs:h-36 md:h-40 lg:h-44 xl:h-40 3xl:h-48">
                    <p class="text-3xl lg:text-4xl xl:text-5xl text-lightgreen font-bold">4</p>
                    <p class="text-sm xxs:text-base sm:text-sm md:text-base lg:text-lg xl:text-xl pt-3 md:pt-4">Разработка проекта</p>
                </div>
                <div class="p-3 md:p-4 border border-gray rounded-md shadow-advantages w-[9.3rem] xxs:w-42 xs:w-52 sm:w-36 md:w-42 lg:w-56 xl:w-68 3xl:w-52 h-32 xxs:h-36 md:h-40 lg:h-44 xl:h-40 3xl:h-48">
                    <p class="text-3xl lg:text-4xl xl:text-5xl text-lightgreen font-bold">5</p>
                    <p class="text-sm xxs:text-base sm:text-sm md:text-base lg:text-lg xl:text-xl pt-3 md:pt-4">Оформление договора</p>
                </div>
                <div class="p-3 md:p-4 border border-gray rounded-md shadow-advantages w-[9.3rem] xxs:w-42 xs:w-52 sm:w-36 md:w-42 lg:w-56 xl:w-68 3xl:w-52 h-32 xxs:h-36 md:h-40 lg:h-44 xl:h-40 3xl:h-48">
                    <p class="text-3xl lg:text-4xl xl:text-5xl text-lightgreen font-bold">6</p>
                    <p class="text-sm xxs:text-base sm:text-sm md:text-base lg:text-lg xl:text-xl pt-3 md:pt-4">Предоплата 50%</p>
                </div>
                <div class="p-3 md:p-4 border border-gray rounded-md shadow-advantages w-[9.3rem] xxs:w-42 xs:w-52 sm:w-36 md:w-42 lg:w-56 xl:w-68 3xl:w-52 h-32 xxs:h-36 md:h-40 lg:h-44 xl:h-40 3xl:h-48">
                    <p class="text-3xl lg:text-4xl xl:text-5xl text-lightgreen font-bold">7</p>
                    <p class="text-sm xxs:text-base sm:text-sm md:text-base lg:text-lg xl:text-xl pt-3 md:pt-4">Доставка заказчику</p>
                </div>
            </div>
            {% partial "button/in_scheme" %}
        </div>
    </div>
</div>
{% partial "modal/modal_scheme" %}


