<div class="section_6 relative">
    <div class="absolute -top-20 md:-top-24 lg:-top-28 xl:-top-32 right-4 opacity-30">
        <img class="w-28 xs:w-32 md:w-40 lg:w-48 mx-auto thumbnail" src="{{ 'assets/images/elements/Group-8.svg' | theme }}" alt="element">
    </div>
    <div class="py-8 md:py-10 lg:py-14 xl:py-20 container">
        <div class="mx-auto">
            <div class="text relative anim-line element-animation pb-0.5">
                <h3 class="mb-6 md:mb-8 xl:mb-16 text-start font-bold text-2xl sm:text-3xl lg:text-4xl xl:text-5xl">Информация по доставке товара Заказчику</h3>
                <div class="head-line absolute left-0 top-18 sm:top-20 md:top-10 md:top-12 xl:top-16 w-full h-px bg-lightgray rounded-md"></div>
            </div>
            <p class="text-justify indent-5 xs:indent-8 text-base xs:text-lg md:text-xl xl:text-2xl mb-2 font-bold">Доставка товаров - быстро, удобно и надежно!</p>
            <p class="text-justify indent-5 xs:indent-8 text-base xs:text-lg md:text-xl xl:text-2xl">Мы понимаем, что ваше время бесценно, поэтому предлагаем вам удобную услугу доставки товаров прямо к вашему порогу.</p>
            <p class="text-justify indent-5 xs:indent-8 text-base xs:text-lg md:text-xl xl:text-2xl">Доставка осуществляется по городу Мурманск, области и России.</p>
            <div class="text-justify indent-5 xs:indent-8 text-base xs:text-lg md:text-xl xl:text-2xl">
                <ul>Стоимость доставки:
                    <li>- по городу- 1300 руб.</li>
                    <li>- по области- 40 руб./км</li>
                    <li>- по России- любой транспортной компанией, работающей в вашем регионе</li>
                </ul>
            </div>
            <p class="text-justify indent-5 xs:indent-8 text-base xs:text-lg md:text-xl xl:text-2xl">Также вы можете самостоятельно забрать заказ  по адресу: г. Мурманск, Кольский проспект д. 55.</p>
            <p class="text-justify indent-5 xs:indent-8 text-base xs:text-lg md:text-xl xl:text-2xl">Наши менеджеры согласуют с вами время и дату, удобную для вас.</p>
            <p class="text-justify indent-5 xs:indent-8 text-base xs:text-lg md:text-xl xl:text-2xl">Доставка осуществляется по рабочим дням, в выходные - по согласованию с менеджером.</p>
            <p class="text-justify indent-5 xs:indent-8 text-base xs:text-lg md:text-xl xl:text-2xl">Если у вас возникли вопросы или вам требуется дополнительная информация о нашей услуге доставки, свяжитесь с нами прямо сейчас, и мы ответим на все ваши вопросы.</p>
            <p class="text-justify indent-5 xs:indent-8 text-base xs:text-lg md:text-xl xl:text-2xl">Не откладывайте свои покупки! Заказывайте товары на нашем сайте прямо сейчас и наслаждайтесь удобной доставкой прямо к вашему дому. Мы делаем все возможное, чтобы ваше покупательское впечатление было максимально приятным и беззаботным.</p>
        </div>
    </div>
</div>

