<div class="section_8 relative" id="contacts">
    <div class="absolute -top-24 xs:-top-28 md:-top-32 lg:-top-36 xl:-top-36 left-4 opacity-30">
        <img class="w-28 xs:w-32 md:w-40 lg:w-48 mx-auto thumbnail" src="{{ 'assets/images/elements/Group-8.svg' | theme }}" alt="element">
    </div>
    <div class="pt-8 pb-8 md:pt-10 md:pb-10 lg:pt-14 lg:pb-14 xl:pt-20 xl:pb-20 container">
        <div class="mx-auto">
            <div class="text relative anim-line element-animation pb-0.5">
                <h3 class="mb-6 md:mb-8 xl:mb-16 text-start font-bold text-2xl sm:text-3xl lg:text-4xl xl:text-5xl">Контакты</h3>
                <div class="head-line absolute left-0 top-10 md:top-12 xl:top-16 w-full h-px bg-lightgray rounded-md"></div>
            </div>
            <div class="flex flex-wrap justify-center -mx-4 pb-6 md:pb-12 lg:pb-16">
                <div class="sm:w-1/3 px-4 mb-6 md:mb-0">
                    <div class="max-w-xs mx-auto text-center">
                        <div class="inline-flex mb-2 xs:mb-3 lg:mb-6 items-center justify-center w-10 xs:w-12 h-10 xs:h-12 bg-lightgreen bg-opacity-25 rounded-full">
                            <img class="h-6 xl:h-8" src="{{ 'assets/images/phone_black.svg' | theme }}" alt="+7 (906) 291-51-21" width="auto">
                        </div>
                        <h4 class="mb-0 lg:mb-2 text-base md:text-xl lg:text-2xl md:leading-9 font-bold">Телефон</h4>
                        <a  class="text-base md:text-xl hover:font-bold font-medium"  href="tel:+79062915121" title="+7 (906) 291-51-21">+7 (906) 291-51-21</a>
                    </div>
                </div>
                <div class="sm:w-1/3 px-4 mb-6 md:mb-0">
                    <div class="max-w-xs mx-auto text-center">
                        <div class="inline-flex mb-2 xs:mb-3 lg:mb-6 items-center justify-center w-10 xs:w-12 h-10 xs:h-12 bg-lightgreen bg-opacity-25 rounded-full">
                            <img class="h-6 xl:h-8" src="{{ 'assets/images/email_black.svg' | theme }}" alt="flexstone51@mail.ru" width="auto">
                        </div>
                        <h4 class="mb-0 lg:mb-2 text-base md:text-xl lg:text-2xl md:leading-9 font-bold">Email</h4>
                        <a class="text-base md:text-xl hover:font-bold font-medium" href="mailto:flexstone51@mail.ru" title="flexstone51@mail.ru">flexstone51@mail.ru</a>
                    </div>
                </div>
                <div class="sm:w-1/3 px-4">
                    <div class="max-w-xs mx-auto text-center">
                        <div class="inline-flex mb-2 xs:mb-3 lg:mb-6 items-center justify-center w-10 xs:w-12 h-10 xs:h-12 bg-lightgreen bg-opacity-25 rounded-full">
                            <img class="h-6 xl:h-8" src="{{ 'assets/images/place_black.svg' | theme }}" alt="г.Мурманск, Кольский пр-т д.55" width="auto">
                        </div>
                        <h4 class="mb-0 lg:mb-2 text-base md:text-xl lg:text-2xl font-bold md:leading-9">Местоположение</h4>
                        <p class="text-base md:text-xl font-medium">г.Мурманск, Кольский пр-т д.55</p>
                    </div>
                </div>
            </div>
            <iframe class="w-full h-48 xs:h-64 md:h-80 lg:h-96" src="https://yandex.ru/map-widget/v1/?ll=33.109880%2C68.929721&mode=whatshere&whatshere%5Bpoint%5D=33.109880%2C68.929721&whatshere%5Bzoom%5D=17&z=16" loading="lazy" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
    </div>
</div>
